scipy~=1.15.2
requests~=2.32.3
dotenv~=0.9.9
python-dotenv~=1.1.0
numpy~=2.2.4
torch~=2.7.0
h5py~=3.13.0
transformers~=4.51.3
einops~=0.8.1
torchinfo~=1.8.0
tqdm~=4.67.1
scikit-learn~=1.6.1
pandas~=2.2.3
huggingface-hub~=0.30.2